<div class="blog-post">
  <h3 class="blog-post-title">{{model.title}}</h3>
  <p class="blog-model-meta">{{model.date}}</p>
  <img src="{{model.image}}" style="width: 80%" alt="{{model.title}}"/>
  <p>{{model.content}}</p>
  {{edit-post post=model update='update' destroyPost='destroyPost'}}
</div>
